*{ 
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

}
body{
	max-width: 1084px;
	margin: 0 auto;
	

}
header{
	display: flex;
	justify-content: space-between;
	height: 60px;
	border: 1px solid green;
}
ul{
	width: 214px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
a{
	color: #181818;
	transition: 300ms color: ease;


}
a:hover {
	color: #BADC58; 
   transition: 300ms color: ease;
}

.hero-content{
	height: calc(100vh - 60px)
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
    
}
.hero-content::before{
	content: 'rame';
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: .6;
	z-index: -1;



}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}
.hero-image{
	position: absolute;
	z-index: -2;
	width: 100%;
	height: calc(100vh - 60px);
	top: 60px;
	left: 0;
	object-fit: cover;

}
