*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: normal;
}

body{
	max-width: 1084px;
	margin: 0 auto;
}
.header-navigation a, h1, h2, address{
	font-family: caps;
}
header, ul {
	display: flex;
}
header{
	justify-content: space-between;
	height: 60px;
	align-items: center;
}
.header-navigation {
	display: flex;
	justify-content: space-between;
	width: 214px;
}
a {
	color: #fff;
	transition: 300ms color ease;
}
a:hover{
	color: #BADC58;
	transition: 300ms color ease;
}

.hero_content{
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.hero_content:before{
	content: '';
	display: block;
	position: absolute;
	height: calc(100vh - 60px);
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: .6;
	z-index: -1;
}
.hero{
	display: flex;
	flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.hero_title{
	font-size: 50px;
}
.hero p{
	font-size: 14px;
}
.hero_more{
	background-color: #BADC58;
	margin-top: 53px;
	border-radius: 10px;
	padding: 15px 50px;
}
a.hero_more{
	font-size: 14px;
}
a.hero_more:hover{
	color: #fff;

}
a.hero_more:active {
}
.main_pic{
	width: 100%;
	height: calc(100vh - 60px);
	position: absolute;
	top: 60px;
	left: 0;
	z-index: -2;
	object-fit: cover;
}
.hero_content::after{
	display: block;
	position: absolute;
	top: calc(100vh - 60px);
	right: 0;
	width: 170px;
	height: 220px;
	overflow: hidden;
	z-index: 1;
}

.product{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.57);
	background-color: #fff;
}
.product::before{
	content: '';
	display: block;
	width: 100%;
	height: 53px;
	background-color: #fff;
	position: relative;
	top: -53px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.product_title{
	text-align: center;
	padding: 0 0 65px;
	font-size: 30px;
	line-height: 18px;
}
.product_menu{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.product_content_pic{
	width: 232px;
	height: 225px;
	object-fit: none;
}
.product_content{
	flex: 1 1 31%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	width: 308px;
}
.product_content:hover {
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 3px 7px rgba(24,24,24, 0.16);
	transition: all 500ms;
}
.product_content h2{
	font-size: 14px;
	margin: 56px 0 10px;
}
.product_content p{
	font-size: 10px;
}
.more{
	font-size: 14px;
	color: #BADC58;
	border: 1px solid #BADC58;
	border-radius: 10px;
	background-color: #fff;
	padding: 15px 45px;
	margin: 21px 0 30px;
	line-height: 22px;
}
.more:hover{
	background: #BADC58;
	color: #000;
}
.product::after{
	content: '';
	display: block;
	width: 100%;
	height: 53px;
	background-color: #fff;
	position: relative;
	bottom: -53px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 2;
}

footer{
	width: 100%;
	padding-top: 123px;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #292C2F;
}
footer .contact, footer .map, footer .icons{
		max-width: 1084px;
		margin: 0 auto;		
	}
footer .contact {
	margin-bottom: 10px;
}
.contact {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 22px 0;
	margin-bottom: 10px;
	color: #F59A63;
	border-radius: 20px;
	background-color: #fff;
	font-size: 14px;
	line-height: 18px;
}
a.contact_num{
	color: #F59A63;
}
a.contact_num:hover{
	color: #BADC58;
}
.map {
    width: 100%;
    position: relative;
    height: 290px;
    border: 1px solid #707070;
    border-radius: 20px;
    margin-bottom: 31px;
    overflow: hidden;
}
.icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}
.academy-logo{
	width: 145px;
}
.cards{
	width: 105px;
}
.social{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 87px;
	height: 20px;
}
.social a:hover path {
	fill: #BADC58;
	transition: 350ms;
}
.social a{
	width: 33%;
	height: 20px;
}
.social svg {
	height: 100%;
	margin: 0 10px;
}
.social path {
	transition: 300ms ease;
}